DB_HOST=localhost
DB_USER=pesantren
DB_PASS=pesantren123
DB_NAME=pesantren_saas
PORT=3000
JWT_SECRET=random-secret-here
DOMAIN=pesantrenku.tech
SUPER_ADMIN_USER=superadmin
SUPER_ADMIN_PASS=superadmin123
